<div class="container">
    <div class="row">
        <div class="col text-right">
            <h2>{{fname}} {{lname}}</h2>
            Your current balance is:
            {{balance}}<br><br>
        </div>
    </div>
    <hr>

    <div class="container">
        <div class="row">
            <div class="col invest-div">
                AAPL: {{appleQuote}}<br>
                <a href="/invest/apple">Invest</a>
            </div>
            <div class="col invest-div">
                MSFT: {{microsQuote}}<br>
                <a href="/invest/microsoft">Invest</a>
            </div>
            <div class="col invest-div">
                DXC: {{dxcQuote}}<br>
                <a href="/invest/dxc">Invest</a>
            </div>
            <div class="col invest-div">
                IBM: {{ibmQuote}}<br>
                <a href="/invest/ibm">Invest</a>
            </div>
            <div class="col invest-div">
                XRX: {{xeroxQuote}}<br>
                <a href="/invest/xerox">Invest</a>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col transaction-div">
                <a>Deposit money</a><br><br>
                <form action='/dashboard' method="POST">
                    <label for="deposit-amoun">Amount to deposit:</label><br>
                    <input type="number" name="deposit-amount" id="deposit-amount" placeholder="USD"><br><br>
                    <input type="submit" value="Confirm action">
                </form>
            </div>
            <div class="col transaction-div">
                <a>Withdraw money</a><br><br>
                <form action='/dashboard' method="POST">
                    <label for="withdraw-amount">Amount to withdraw:</label><br>
                    <input type="number" name="withdraw-amount" id="withdraw-amount" placeholder="USD"><br><br>
                    <input type="submit" value="Confirm action">
                </form>
            </div>
            <div class="col transaction-div">
                <a>Send money</a><br><br>
                <form action='/dashboard' method="POST">
                    <label for="send-amount">Amount to send:</label><br>
                    <input type="number" name="send-amount" id="send-amount" placeholder="USD"><br>
                    <label for="send-email">Reciever email:</label><br>
                    <input type="email" name="send-email" id="send-email"><br><br>
                    <input type="submit" value="Confirm action">
                </form>
            </div>
        </div>
    </div>