<div class="container">
    <div class="row">
        <div class="col text-right">
            <h2>{{fname}} {{lname}}</h2>
            Your current balance is:
            {{balance}}<br><br>
        </div>
    </div>
    <div class="row">
        <div class="col text-right">
            {{#if appleShares}}
            AAPL shares: {{appleShares}}<br>
            {{/if}}
            {{#if microsoftShares}}
            MSFT shares: {{microsoftShares}}<br>
            {{/if}}
            {{#if dxcShares}}
            DXC shares: {{dxcShares}}<br>
            {{/if}}
            {{#if ibmShares}}
            IBM shares: {{ibmShares}}<br>
            {{/if}}
            {{#if xeroxShares}}
            XRX shares: {{xeroxShares}}<br>
            {{/if}}
        </div>
    </div>
</div>
<hr>

<div class="container">
    <div class="row">
        <div class="col signin-div">
            <form action='/invest/ibm' method="POST">
                <label for="invest-ibm">IBM</label><br>
                <select name="action">
                    <option value="buy">Buy</option>
                    <option value="sell">Sell</option>
                </select>
                <input type="number" name="invest-ibm" id="invest-ibm" placeholder="USD"><br><br>
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>
</div>
<hr>


<div class="container">
    <div class="row">
        <div class="col-3 share-logo"></div>
        <div class="col-3 share-logo">
            <br><br>
            <h3>NYSE: IBM</h3>
        </div>
        <div class="col-3 share-logo">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/51/IBM_logo.svg/800px-IBM_logo.svg.png"
                height='150px'>
        </div>
        <div class="col-3 share-logo"></div>
    </div>
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6 about">
            <p>
                IBM looks to be a part of every aspect of an enterprise's IT needs. The company primarily sells
                software, IT services, consulting, and hardware. IBM operates in 175 countries and employs approximately
                350,000 people. The company has a robust roster of 80,000 business partners to service 5,200
                clients--which includes 95% of all Fortune 500. While IBM is a B2B company, IBM's outward impact is
                substantial. For example, IBM manages 90% of all credit card transactions globally and is responsible
                for 50% of all wireless connections in the world.
            </p>
        </div>
        <div class="col-3"></div>
    </div>
</div>